.footer-social li{
    display: inline-block;
}
.welcome-bg-shape .welcome-first-shape {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: -2;
}
.welcome-bg-shape .welcome-second-shape {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}